.sour-gummy {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.geist-mono {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.link-hover {
  display: inline-block;
  text-decoration: underline;
  transition: transform 0.3s ease, color 0.3s ease, text-decoration 0.3s ease;
}
.link-hover:hover {
  transform: translateY(-3px);
  color:blue;
  text-decoration: none;
}