    body {
      margin: 0;
      padding: 20;
      overflow: hidden;
      height: 100vh;
    }
    
    .circle {
      position: absolute;
      width: 8px;
      height: 8px;
      background: white;
      border-radius: 50%;
      pointer-events: none;
    }